.container{
    display: grid;
    grid-template-columns: 5px 10px 15px 1fr 2fr;
    grid-template-rows: 1fr 1fr ;
    gap: 5px;
    
}

.grid-item{
    
    gap: 5px;
    
}

.grid-item-1, .grid-item-2, .grid-item-3, .grid-item-4, .grid-item-5, .grid-item-6{
    min-width: 40px;
    min-height: 100px;
    background-color: green;
}