.corgoBox{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;;
}

img{
    max-height: 200px;
}

header, footer{
    background-color: black;
    color: aliceblue;
}

.gridItem2{
    display: flex;
    flex-direction: column;
}